/*! =========================================== *
 * GRUVBOX THEME
 * Version: 2.0.0
 * Author: Jonatan Jansson
 * Website: https://blog.dotmavriq.life
 * Tweets @dotMavriQ
 * Credit goes to https://github.com/morhetz/gruvbox 
 * To Margarida, I love you
 * =========================================== */
/*TOP*/
.headerDesktop-container {
    background-color: #282828; }
  
.pm_toolbar.pm_toolbar_withSelector {
      padding: 10px 10px 10px 4px;
      background-color: #282828;
  }
.search-form-fieldset {
  background: #665c54; }

.searchForm-action-button-advanced {
  #fbf1c7; }

.searchForm-advanced-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem 1rem 0;
    background: #B16286;
    position: relative;
    -webkit-box-shadow: 0 4px 4px -4px rgba(0,0,0,.1);
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.1);
}

.searchForm-advanced-wrapper {
    background: #282828;
    float: left;
    padding: .5rem 1rem 1rem;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}

.searchForm-advanced-submit.pm_button.primary {background: #B16286}

.searchForm-action-button-advanced:hover, .searchForm-action-button-toggle:hover {
  background: #B16286; }

/*BUTTONS*/

.searchForm-advanced-container label {
    color: #fbf1c7;
}
.customRadio-input:checked + .customRadio-mask {
  box-shadow: inset 0 0 0 3px #fbf1c7, inset 0 0 0 10px #B16286;
  border-color: #B16286; }

.pm_button.primary, .pm_button.primary:active {
  color: #fbf1c7;
  background-color: #1d2021;
  border-color: #1d2021; }

.pm_button.primary:hover, .pm_button.primary:focus {
  background-color: #B16286;
  border-color: #B16286; }

.pm_buttons, .pm_buttons a {
  color: #282828; }

.pm_buttons a:hover, .pm_buttons .pm_buttons-child:hover {
  color: #B16286; }

.pm_button.success {
    background-color: rgba(0,41,132,0.6);
    border-color: rgba(6,54,164,0.6);
    color: #fbf1c7;
}


/*NAV BAR*/


.navigation > li.active, .navigation > li:hover {
  border-color: #B16286; }

.navigation-link {
  color: #fbf1c7; }

.navigation-title:hover {
  color: #B16286; }

.pm_dropdown .navigationUser-logout {
  background-color: #d3869b !important;
  border-color: #d3869b !important;
  color: #fbf1c7 !important; }

.pm_dropdown .navigationUser-logout:hover {
  background-color: #B16286 !important;
  border-color: #458588 !important;
  color: #fbf1c7 !important; }


.readUnread-container-ur .readUnread-btn-read,
.pm_buttons .pm_buttons:not(:first-of-type), .pm_buttons > *,
.pm_buttons, .pm_buttons a {
  border-color: #282828 !important; }

.dropdown-folder-search .fa.dropdown-folder-search-icon,
.dropdown-label-search .fa.dropdown-label-search-icon {
  color: #B16286; }

.dropdown-folder-create-button,
.createLabel-button {
  color: #B16286; }

.customCheckbox-container:hover .customCheckbox-mask,
.customMaskInput-container:hover .customCheckbox-mask {
  border-color: #B16286 !important; }

.customCheckbox-input:checked + .customCheckbox-mask {
  background-color: #B16286;
  border-color: #B16286;
  color: #282828; }

.conversation.marked::before {
  background: #B16286;
  width: 5px; }

/*SIDEBAR*/

.sidebar-btn-compose, .sidebar-btn-compose:active {
  color: #fbf1c7 !important;
  background: #B16286 !important;
  border: none !important;
  transition: background-color .2s ease-in-out; }

.sidebar-btn-compose:hover {
  color: #fbf1c7 !important;
  background: #B16286 !important;
  border: none !important;
  box-shadow: inset 0 400px 400px rgba(0, 0, 0, 0.1); }

.headerDesktop-logo {
  background-color: #282828; }

body section.sidebar {
  background: #282828; }

body section.sidebar a.compose {
  background: #B16286;
  color: #fbf1c7; }

body section.sidebar a.compose:hover {
  background: #fbf1c7;
  border-color: #fbf1c7;
  color: #282828; }

body section.sidebar ul.menu li a {
  color: #fbf1c7; }

body section.sidebar ul.menu li a:hover {
  background: #1d2021; }

body section.sidebar ul.menu li.active a, body section.sidebar ul.menu li.active a {
  color: #fbf1c7; }

body section.sidebar ul.menu li.active a i.fa, body section.sidebar ul.menu li.active a i.fa:hover {
  background: #1d2021;
  opacity: 1; }

body section.sidebar ul.menu li a .fa-repeat {
  color: #fbf1c7;
  opacity: 1; }

body section.sidebar ul.menu li a i.fa {
  color: #fbf1c7;
  opacity: 0.5; }

body section.sidebar ul.menu li a i.fa:hover, body section.sidebar ul.menu li a:hover i.fa {
  color: #fbf1c7;
  opacity: 1; }

body section.sidebar ul.menu li a em {
  color: #fbf1c7;
  opacity: 0.5; }

body section.sidebar div.labels ul li a {
  color: #fbf1c7;
  opacity: 0.5; }

body section.sidebar div.labels ul li a:hover {
  color: #fbf1c7;
  opacity: 1; }

body section.sidebar div.footer div.link a, body section.sidebar a.version {
  color: #fbf1c7;
  opacity: 0.5; }

body section.sidebar div.footer div.link a:hover, body section.sidebar a.version:hover {
  background: #1d2021;
  opacity: 1; }

body section.sidebar div.footer div.storage strong {
  color: #fbf1c7;
  opacity: 0.5; }

.conversationPlaceholder #storageStatus .wrap span strong {
  color: #1d2021; }

.storageBar {
  background-color: rgba(0, 0, 0, 0.1); }

.storageBar .storageBar-progress {
  background-color: #1d2021; }


/*MESSAGE SECTION*/

#conversation-list-rows.conversation, 
#conversation-list-rows .conversation.read {
    background: linear-gradient(90deg, hsla(186, 33, 94, 1) 0%, hsla(216, 41, 79, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(186, 33, 94, 1) 0%, hsla(216, 41, 79, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(186, 33, 94, 1) 0%, hsla(216, 41, 79, 1) 100%);
}
#pm_composer .composer header {
  background: #282828;
  color: #fbf1c7; }

.modal-header {
    background: #282828;
}
.pm_button.modal-footer-button.addLink-cancel-button,
.pm_button.primary.modal-footer-button.addLink-insert-button {background: #282828; color: #fbf1c7; border: 1px solid #B16286}
.pm_button.modal-footer-button.addLink-cancel-button:hover,
.pm_button.primary.modal-footer-button.addLink-insert-button:hover {background: #d3869b; color: #fbf1c7;}

.pm_modal .modal-dialog .modal-content h1, .pm_modal .modal-dialog .modal-content h2, .pm_modal .modal-dialog .modal-content h3, .pm_modal .modal-dialog .modal-content h4 {
    color: #fbf1c7; }

.pm_button.modal-footer-button.addFile-file-button,
.pm_button.modal-footer-button.addFile-cancel-button,
.pm_button.primary.modal-footer-button.addFile-insert-button {background: #282828; color: #fbf1c7; border: 1px solid #B16286}
.pm_button.modal-footer-button.addFile-file-button:hover,
.pm_button.modal-footer-button.addFile-cancel-button:hover,
.pm_button.primary.modal-footer-button.addFile-insert-button:hover
 {background: #d3869b; color: #fbf1c7;}




.pm_modal .modal-dialog .modal-footer {
    padding: 1rem 2rem;
    background-color: #B16286;
}
.pm_button:active {background: #282828; color: #fbf1c7;}
.pm_button:focus, .pm_button:hover {
    background-color: #d3869b;
    color: #fbf1c7;
    -webkit-transition: none;
    transition: none;
}

.squireToolbar-row-1 {
    border-width: 0 0 1px;
    z-index: 1999;
    color: #fbf1c7;
}
.squireToolbar-show-subrow .squireToolbar-action-options {
    background: transparent;
    border: 1px solid #acb0bf;
}
.composerTime-container {
    margin-right: 5px;
    color: #afafba;
}

[class*=squireToolbar-row] .squireToolbar-action-mode:active, [class*=squireToolbar-row] .squireToolbar-action-mode:hover, [class*=squireToolbar-row] [class*=squireToolbar-action-]:active, [class*=squireToolbar-row] [class*=squireToolbar-action-]:hover {
  background: #d3869b;
  border: 1px solid #B16286;}
[class*="squireToolbar-row"] , #pm_composer .composer footer, .squireEditor-loaded footer {
    background: #B16286; 
    border: 1px solid #B16286;}
.squireToolbar-select-list {background: #282828;}

.squireToolbar-select-item:hover {
    background: #d3869b;
}


p a {
  color: #B16286; }

#pm_composer .composer footer .pm_button {
  background: #fbf1c7;
  color: #282828; }

#pm_composer .composer footer .pm_button:hover {
  background: #d3869b;
  color: #282828; }

#pm_composer .composer footer .pm_button.primary {
  background: #282828;
  color: #fbf1c7; }

#pm_composer .composer footer .pm_button.primary:hover {
  background: #B16286;
  color: #fbf1c7; }

.pm_button.link.composerHeader-btn {
  color: #fbf1c7 !important; }

.pm_button.link.composerHeader-btn:hover {
  color: #d3869b !important; }

#pm_settings .pm_tabs {
  background: #B16286; }

#pm_settings .pm_tabs li a.pm_button {
  color: #458588;
  border-color: #e6eaf0; }


#pm_settings .pm_tabs li a.pm_button:hover {
  color: #d3869b; }

#pm_settings .pm_tabs li.active a.pm_button {
  color: #d3869b; }

.pm_button.link {
  color: #B16286; }

.pm_toggle-label {
  background: #458588; }

.pm_toggle-checkbox:focus + .pm_toggle-label, .pm_toggle-label:hover {
  background: #B16286; }

.pm_toggle-checkbox:checked + .pm_toggle-label, .pm_toggle-checkbox:checked + .pm_toggle-label:hover, .pm_toggle-checkbox:checked:focus + .pm_toggle-label {
  background: #1d2021; }

.pm_toggle.off .off, .pm_toggle.on .on {
  background: #1d2021;
  color: #fbf1c7; }

.pm_toggle {
  box-shadow: 0 0 0 1px #e6eaf0; }

.alert.alert-info {
  background: #458588;
  color: #282828; }

.alert.alert-warning {
  background: rgba(63,81,181, 0.7);
  color: #282828; }

.alert.alert-success {
    background-color: rgba(0,41,132,0.6);
    color: #fbf1c7;
}

.pm_button.error:focus, .pm_button.error:hover {
  background-color: #1d2021;
  border-color: #3c3836; }

.pm_button.error {
  background-color: #3c3836;
  border-color: #fb4934; }

html.protonmail .text-purple,
.settingsUsers-link-signatures {
  color: #B16286 !important; }

html.protonmail .text-red {
  color: #fb4934 !important; }

.pm_button.link {
  color: #282828 !important; }

.overviewSection-container .topUp-button {
  color: #B16286; }

.settingsDashboard-plans [class*="Column-container"] .isCurrent {
  background: #458588;
  box-shadow: 0 0 8px #458588, 0 0 0 2px #458588;
  border-bottom: 1px solid #458588; }

.settingsDashboard-plans.free-active .freeColumn-container,
.settingsDashboard-plans.plus-active .plusColumn-container,
.settingsDashboard-plans.professional-active .professionalColumn-container,
.settingsDashboard-plans.visionary-active .visionaryColumn-container {
  border-color: #1d2021;
  box-shadow: 0 0 8px #458588, 0 0 0 2px #1d2021; }

[class*="settingsDashboard-arrowToScroll"] .arrowsToScroll-button {
  background: #B16286 }

[class*="settingsDashboard-arrowToScroll"] .arrowsToScroll-button:hover {
  background: #B16286; }

.vpnRow-add {
  background-color: #B16286; }

.vpnRow-add:hover {
  background: #458588; }

.settingsDashboard-plans .freeColumn-free,
.totalRows-monthly-price,
.totalRows-yearly-price {
  color: #282828; }

.totalRows-discount {
  border-color: transparent #B16286; }

.pm_modal .modal-dialog {
  border-color: #458588; }

.pm_modal .modal-dialog .close {
  color: #fbf1c7;
  background: #458588; }

.pm_badge {
  color: #fbf1c7; }

.pm_badge.primary {
  background: #458588;
  color: #fbf1c7; }

.pm_badge.success {
  background: #B16286;
  color: #fbf1c7; }

.pm_table table th a, .pm_table table th .fa {
  color: #B16286; }

body .cg-notify-message.notification-success {
  background-color: #B16286;
  color: #fbf1c7; }

.appConfigBody-is-mobile .sidebarApp-container {
  background: #B16286; }
